<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-4HfFay3AYJnEmbgRzxYWJk/Ka5jIimhB/Fssk7NGT9Tj3rkEChpSxLK0btOGzf2I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style-Editar-formulario-admin.css">
  
    <title>Administrador Página</title>
</head>
<h2 class="col-md-4">Editar</h2>
<div class="errorHora">
    <%= messages.errorHora%>
</div>
<div class="error">
</div>

<body>
    <div class=" m-5 ">
        <div class="row ">
            <div class="col-md-3 ml-5 ">
                <div class="card-body ">
                    <form action="/saveeditarReserva/<%=verReserva.IdPerso%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="NombrePerso" id="NombrePerso" class="form-control" value="<%= verReserva.NombrePerso%>" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="ApellidoPerso" id="ApellidoPerso" class="form-control" value="<%=verReserva.ApellidoPerso%>" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="SegundoApellidoPerso" id="SegundoApellidoPerso" class="form-control" value="<%= verReserva.SegundoApellidoPerso%>" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="TelefonoPerso" id="TelefonoPerso" class="form-control" value="<%=verReserva.TelefonoPerso%>" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="mail" name="CorreoPerso" id="CorreoPerso" class="form-control" value="<%=verReserva.CorreoPerso%>" autofocus>
                        </div>

                        <div class="form-group">
                            <label class= "salaesocge" style= "margin-left: 180px">Sala a escoger</label>
                            <select name="Sala" id="Sala" class="form-control">
                                <option selected hidden><%=verReserva.Sala%></option>   
                               
                                <option value="1">1</option>
                        
                                <option value="2">2</option>
                                    
                                 <option value="3">3</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control" name="Fecha" id="Fecha" value="<%=verReserva.Fecha%>" min="2020-01-01" max="2020-12-31">
                        </div>
                        <div class="form-group">

                            <label for="hora" style= "margin-left: 100px">Hora de reserva (formato de 24 hrs) </label>
                            <input type="time" name="Hora" id="Hora" style= "margin-left: 160px ; width:130px" value="<%=verReserva.Hora%>">
                        </div>
                        <div class="form-group">
                            <label for="information" style= "margin-left: 70px">Horas de entrega de sala (formato de 24 hrs)</label>
                            <input type="time" name="HoraEntrega" id="HoraEntrega" style= "margin-left: 160px ; margin-top: -80px; width:130px" value="<%=verReserva.HoraEntrega%>">
                        </div>
                        <button type="submit" class="btn"> Guardar </button>
                    </form>
                </div>
            </div>

            <script src="/errorhandling.js"></script>
            <script src="/error.js"></script>
</body>

</html>